{% extends 'base.html.twig' %}

{% block title %}Choix des plats!{% endblock %}

{% block body %}
 <h1>Les commandes en cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>adresse</th>
                <th>Restaurant</th>
                {# <th>Plat Commander </th> #}
                <th>Quantite </th>
                <th>Client </th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}   
            <tr>
                <td>{{ commande.date | date('d/m/y h:m:s')}}</td>
                <td>{{ commande.secteur }}</td> 
                <td>{{ commande.fkrestaurant.nom }}</td>
                {# <td>{{ commande.plat.nom}}</td> #}
                <td>{{ commande.Quantite }}</td>
                <td>{{ commande.fkuser}} </td>
           </tr>

           {% endfor %}
        
        </tbody>
    </table>
{% endblock %}
