{% extends 'base.html.twig' %}

{% block title %}Choix des plats!{% endblock %}

{% block body %}
 <h1>Choix des plats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>nom</th>
                <th>tarif</th>
                <th>stock</th>
                <th>Commander</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.tarif }}</td>
                <td>{{ plat.stock }}</td>
                <td>
                    <a href="{{ path('app_passerCommande', {'id': plat.id}) }}">Passer commander</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('app_type_consultation_new') }}">Create new</a>#}
    {# <a href="{{ path('type_consultationTyper')}}"> Prendre Rendez-vous</a> #}
{% endblock %}
